footer{
    background-color: white;
    z-index: 9999; /* 设置较高的 z-index 值 */
    display: flex;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
}
.footer_list{
    display: flex;
    width: 100%;
    padding: 0 20px;
    align-items: center;
}
.list_head{
    display: flex;
    width: 424.1px;
    height: 64px;
    padding: 0 6px;
    text-align: center;
    align-items: center;
}
.head-song-img{
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin-right: 16px;
}
.head-song-msk{
    display: block;
    height: 40px;
    width: 100px;
    text-align: center;
}
.head-song-name{
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    height: 24px;
    text-align: left;
    display: inline-block;
    /* 当内容超出元素宽度时隐藏溢出部分 */
    overflow: hidden;
    /* 使用省略号代替溢出部分的文本 */
    text-overflow: ellipsis;
    /* 不换行显示文本 */
}
.head-song-author{
    font-size: 12px;
    width: 100px;
    height: 16px;
    text-align: left;
    display: inline-block;
    /* 当内容超出元素宽度时隐藏溢出部分 */
    overflow: hidden;
    /* 使用省略号代替溢出部分的文本 */
    text-overflow: ellipsis;
    /* 不换行显示文本 */
}

.list-body{
    display: flex;
    height: 86px;
    width: 611px;
    padding: 0 6px;
    flex-direction: column;
}
.list-body-content{
    display: flex;
    height: 60px;
    width: 611px;
    align-items: center; /* 垂直居中对齐 */
    justify-content: center; /* 水平居中对齐 */
}
.body-content-button{
    display: flex;
    width: 180Px;
    height: 60px;
    align-items: center; /* 垂直居中对齐 */
    justify-content: center; /* 水平居中对齐 */
    margin-left: 5px;
}
.content-button{
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    align-items: center;
    justify-items: center;
}
.content-button i{
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 30px;
    justify-content: center; /* 水平居中对齐 */
    align-items: center;
    color: #333333;
}


.list-body-progress{
    display: flex;
    height: 22px;
    width: 611px;
    margin-top: 4px;
}
.used-time{
    display: flex;
    align-items: center;
    width: 48px;
    margin-top: 5px;
}
.range{
    width: 515px;
    height: 22px;
    margin-bottom: 5px;
    color: red;
}
.list-tail{
    display: flex;
    width: 424px;
    height: 44px;
    padding: 0 6px;

}
.list-tail-button{
    display: flex;
    width: 424px;
    height: 44px;
    align-items: center;
}
.component i{
    height: 20px;
    color: #333333;
}
.tail-button-kongbai{
    height: 44px;
    width: 92px;
}



















body {
    height: 100%;
}