/* 全局样式 */
body {
    font-family: Arial, sans-serif;  /* 设置字体为Arial或sans-serif字体族 */
    margin: 0;                      /* 清除外边距 */
    padding: 0;                     /* 清除内边距 */
}

/* 头部样式 */
.header {
    display: flex;                  /* 使用弹性布局 */
    align-items: center;            /* 垂直居中对齐 */
    background-color: #333;         /* 设置背景颜色为#333（深灰色） */
    color: #fff;                    /* 设置文字颜色为白色 */
    /*padding: 10px;*/                  /* 上下左右各10像素的内边距 */
    justify-content: center;        /* 元素居中对齐 */
}

.header h2 {
    padding-right: 5px;             /* 右侧添加5像素的内边距 */
    margin-top: 10px;
    margin-bottom: -3px;
}

#logo a{
    padding-left: 5px;
    padding-right: 5px;
}

/* 导航样式 */
.nuv1 {
    display: flex;                  /* 使用弹性布局 */
    list-style-type: none;          /* 清除列表样式 */
    padding: 0;                     /* 清除内边距 */
    margin: 0;                      /* 清除外边距 */
}

.nuv1 li {
    margin-top: 15px;
    margin-bottom: 24.2px;
    justify-content: center;
}

.nuv1 li:last-child {
    margin-right: 0;                /* 最后一个菜单项去除右侧外边距 */
}

.nuv1 a{
    padding-top: 16px;
    padding-bottom: 23px;
}

.nuv1 a:hover{
    /* 鼠标悬停时添加阴影效果 */
    background-color: rgb(0,0,0);
    /* 背景颜色变为#7799d4（浅蓝色） */
}

a{
    color: #fff;                    /* 设置链接文本颜色为白色 */
    text-decoration: none;          /* 去除链接下划线 */
    /*float: left;*/                  /* 左浮动 */
    padding-right: 17px;            /* 右侧填充20像素 */
    padding-left: 17px;
    text-indent: -9999px;           /* 文本缩进隐藏 */
}

/* 主内容样式 */

/* 页脚样式 */
footer {
    background-color: #333;         /* 设置背景颜色为#333（深灰色） */
    color: #fff;                    /* 设置文字颜色为白色 */
    padding: 10px;                  /* 上下左右各10像素的内边距 */
    text-align: center;             /* 文字居中对齐 */
}

#SearchInput{
    background-color: rgba(225,225,225,1);
    /*透明度*/
    border-radius: 15px;
    /*圆角边框*/
    width: 200px;
    height: 30px;
    /* 输入框和按钮的宽高 */
    border: none;
    /* 去除边框 */
    outline: none;
    /* 去除选中时的边框样式 */
    padding-left: 30px;
    /* 左内边距 */
    box-sizing: border-box;
    /* 盒模型为border-box */
    font-size: 15px;
    /* 字体大小 */
    color: #333333;
    /* 文字颜色为#333333（深灰色） */
    margin-bottom: 0;
    /* 底部外边距 */
    margin-right: 15px;
    margin-top: 13px;
}

.header img{
    width: 30px;
    height: 30px;
    margin-top: 13px;
    border-radius: 15px;
}

#logoImg{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 0;
    margin-top: 9px;
}

.header div{
    display: flex;
}

#g_nav2 {
    display: flex;
    justify-content: center; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
    background-color: rgb(194, 12, 12);
    height: 30px;
}

.choices {

    display: flex;
    height: 30px;
    margin-left: -140px;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: center; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
}

.nav li {
    margin: 0 10px; /* 为每个导航项之间设置一定的间距 */
    margin-top: -5px;
}

.nav a {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px; /* 设置字体大小为 12 像素 */
    border-radius: 15px;
}

.nav a:hover{
    /* 鼠标悬停时添加阴影效果 */
    background-color: rgb(155, 9, 9);
    /* 背景颜色变为#7799d4（浅蓝色） */
}

/*
---------------------------------------
*/
/*main内容*/
.label-img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.main{
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

.main-body{
    width: 1000px;
    display: block;
    border-left: 1px solid rgb(211,211,211); /* 左边界线样式 */
    border-bottom: 1px solid rgb(211,211,211); /* 下边界线样式 */
    border-right: 1px solid rgb(211,211,211); /* 右边界线样式 */
    border-top: 1px solid rgb(211,211,211); /* 右边界线样式 */
}

.body-content{
    padding: 40px;
    background-color: rgb(255, 255, 255);
}

.tab{
    border-bottom: 2px solid rgb(193, 13, 12); /* 下划线样式，红色 */
    padding-bottom: 10px; /* 调整下划线与内容之间的间距 */
}

.tab-s {
    color: rgb(102, 102, 102); /* 设置 .tab-s 的文本颜色为深灰色 */
    font-size: 12px;
    padding: 4px;
    border-radius: 3px;

}
.tab-s:hover{
    background-color: rgb(229, 230, 235);
}

.recommend-title{
    background-color: rgb(242, 243, 245);
    color: rgb(51, 51, 51);
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
}
.recommend-title:hover{
    /*悬停*/
    background-color: rgb(229, 230, 235);
}
.recommend-title:active{
    /*点击*/
    background-color: rgb(242, 243, 245);
}



/*
-------------------------------------
*/
/*recommend-list内容*/
.recommend-list{
    display: flex;
    flex-wrap: wrap;/*自动换行*/
    padding-left: 0;
    margin-left: -28px;
}

.recommend-list-li{
    display: block;
    height: 204px;
    width: 130px;
    padding-bottom: 15px;
    padding-left: 53px;
}

.recommend-cnt {
    position: relative;
    display: inline-block;
}

.img-msk {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    display: block;
    color: rgb(0,0,0);
    z-index: 1; /* 提高层级，确保 .msk 覆盖图片 */
}

.recommend-cnt img {
    z-index: 0; /* 使图片位于 .msk 下方 */
    width: 130px;
}

.msk:hover {
    opacity: 0.8; /* 添加悬停效果 */
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.dec{
    margin: 8px 0 3px;
    font-size: 14px;
}

.dec-msk{
    width: 130px;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    padding-left: 0;
    text-indent: 0;
    padding-right: 0;
}
.dec-msk:hover{
    text-decoration: underline;
}
/*
--------------------------------------------
*/

/*
风格隐藏标签
*/
.song-style{
    z-index: 999;
    position: fixed;
    background-color: white;
    display: none;
    border-radius: 3px;
    border-left: 1px solid rgb(211,211,211); /* 左边界线样式 */
    border-bottom: 1px solid rgb(211,211,211); /* 下边界线样式 */
    border-right: 1px solid rgb(211,211,211); /* 右边界线样式 */
    border-top: 1px solid rgb(211,211,211); /* 右边界线样式 */
}



























