<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyang.mapper.UserMapper">

    <insert id="InsertUser" parameterType="com.liuyang.pojo.User">
        insert into user(mailbox,username,password,age,sex,signature) values(#{mailbox},#{username},#{password},#{age},#{sex},#{signature});
    </insert>

    <delete id="deleteById">
        delete from user where username=#{username};
    </delete>

    <select id="selectALL" resultType="com.liuyang.pojo.User">
        select * from user;
    </select>

    <select id="findByMailbox" resultType="com.liuyang.pojo.User">
        select * from user where mailbox=#{mailbox};
    </select>

    <select id="select" resultType="com.liuyang.pojo.User" >
        select * from user where (mailbox = #{mailbox}) and (password = #{password});
    </select>


</mapper>